body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    background-color: rgba(176, 134, 249, 0.5);
    box-shadow: 10px 11px rgba(186, 150, 247, 0.3);
    padding: 20px 60px;
    text-align: center;
}

p {
    font-weight: bolder;
    font-size: larger;
    color: #7662b8;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 3px 3px #9b8ded;
    background-color: rgba(244, 238, 255, 0.5);
}

input:onclick {
    content: none;
}