body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 10px solid rgba(150, 205, 247, 0.3);
    box-shadow: 10px 11px rgb(186, 207, 255);
    padding: 20px 60px;
    text-align: center;
}

p {
    font-weight: bolder;
    font-size: 30px;
    color: #6280b8;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(219, 237, 248, 0.8);
    width: 185px;
    height: 25px;
    border-radius: 5px;;
}

button {
    width: 100px;
    background-color: rgb(98, 195, 255);
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    color: #ffffff;
    font-size: 15px;
}

#Password {
    width: 120px;
}

#show_password {
    width: 60px;
    background-color: #ffffff;
    color:rgb(186, 207, 255);
    border: 1px solid rgb(186, 207, 255);
    font-size: small;
    border-radius: 10px;
}

.password_container {
    display: flex;
    justify-content: center;
    gap: 5px;
}