body {
    height: 95vh;
    background-color: rgb(36, 49, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle1 {
    background-color: lightcoral;
    animation: rotate1 3s linear infinite,
               ovalTransform1 3s ease-in-out infinite;
}

.circle2 {
    background-color: lightblue;
    animation: rotate2 3s linear infinite,
               ovalTransform2 3s ease-in-out infinite;
}

.circle3 {
    background-color: lightyellow;
    animation: scale 3s linear infinite;
}

@keyframes rotate1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotate2 {
    0% { transform: rotate(-15deg); }
    100% { transform: rotate(345deg); }
}

@keyframes scale {
    0%, 25% { transform: scale(0.5); }
    100% { transform: scale(1.2); }
}

@keyframes ovalTransform1 {
    0%, 75% { width: 200px; height: 200px; }
    25%, 50% { width: 200px; height: 100px; }
}

@keyframes ovalTransform2 {
    0%, 75% { width: 200px; height: 200px; }
    25%, 50% { width: 100px; height: 200px; }
}

.check_container {
    position: absolute;
    font-size: 60px;
    color: rgb(9, 14, 75);
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: showCheck 3s ease-in-out infinite;
}

@keyframes showCheck {
    0%, 60% {
        opacity: 0;
    }
    80% {
        opacity: 0.5;
    }
    90%, 100% {
        opacity: 1; 
        font-size: 80px;
    }
}